<template name="searchproduct">
	<section id="refine_menu">
        {{> menu}}
    </section> <!-- #refine menu -->
{{#if displayproduct}}
	 <article>
        <div class="wrapper wrapper-notfound">
            <p class="text-selling-top">{{nbproducts}}/{{totalProducts}} {{_ "products result"}}</p>

            <p class="text-selling-second">{{_ "Best selling"}} <a href=""><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a></p>

            <div class="row">
                {{#each product}}
                    <div class="col-xs-6">
                        <div class="">
                            <div style="height:130px; overflow: hidden;">
                                <a href="/details/{{slug title}}" title="{{title}}">
                                <img data-holder-rendered="true" src="{{getImgForProduct _id}}" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50">
                                </a>
                            </div>
                            <div class="caption">
                                <div class="caption">
                                    <div style="height:50px; overflow: hidden;"> 
                                        <a href="{{pathFor 'details' id=_id}}" class="title">   <p class="text-center text-selling-detail">{{smaller title 8}}</p> </a>
                                    </div>
                                    <h3 class="text-center price-selling">{{price}}
                                    <a href="#" style="color:#e4332a;" id="unlike">
                                    <span id="unlike{{_id}}" class="fa fa-heart-o fonfa pull-right"></span>
                                    </a>
                                    <a href="#" id="like" style="color:#e4332a;"><span id="like{{_id}}" class="fa fa-heart nonelike fonfa pull-right"></span></a></h3>
                                </div>
                            </div>
                        </div>
                    </div>  
                {{/each}}
            </div>
        </div>
    </article>
	{{else}}
		<h3 style="text-align:center">{{_"No Product result"}}</h3>
	{{/if}}

	{{#if displayContent}}
		<h1>{{_"Contents"}}</h1>
		<div class="container">
			<div class="hold_result">
				<p>{{nbcontents}} {{_"Contents results"}}</p>
			</div>
		</div>
	{{#each content}}
	<div class="container">
		<div class="mode-news webzine-title1">
			<h2 class="text-center bold"><a href="#" class="title" style="color:black;">{{title}}</a></h2>
			<div class="mode-img"><a href="#">
				{{#with getFirstImgContent _id}}
				<img src="{{getImg this}}" class="img-responsive img-circle center-block" style="width:170px;height:170px;border-radius:50%;border:solid black 8px;">
				{{/with}}
			</a>
			</div>
			<div class="mode-description">
				<!-- <p class="center-block">{{{content}}}</p> -->
			</div>
		</div>
	</div>
	<section id="not-line-straight">
		<img src="/images/line1.jpg" class="img-responsive">
	</section>
	{{/each}}
	{{/if}}
</template>