<template name="editquizzQA">
	<article>
    	<div class="wrapper">
			<div class="main-bg-choose-makeup2">
				<div class="panel-choose-makeup1 panel-default">
					<div class="panel-heading logo2" >
						<div class="row">
							<div class="col-xs-4 col-md-4">
								<img src="/img/safir.png" class="img-logo2">
							</div>
							<div class="col-xs-4 col-md-4">
								<img src="/img/3sum-icons.png" class="img-logo3 center-block">
							</div>
							<div class="col-xs-4 col-md-4">
								<h2 class="cat write text-right">Lips</h2>
							</div>
						</div>
					</div>
					<div class="panel-body text-center"> 
						
							<div class="row">
								<div class="col-md-8 col-md-offset-2">
								{{#with getFirstQu question}}
									<div class="section1-question">
										<div class="col-md-12">
											<p class="question text-center">{{question}}</p>
										</div>
									</div>
									{{#each answers}}
										<div class="answer-radia">
											<div class="col-md-4 col-md-offset-3">
												<label class="radio">
													<input id="face" type="radio" name="radios_checkbox" value="{{value}}">
													<span class="outer"><span class="inner"></span></span>{{value}}
												</label>
												
											</div>
										</div>

									{{/each}}
								{{/with}}
									<div class="section3">
										<div class="row">
											<div class="col-xs-8 col-xs-offset-2 col-md-2 col-md-offset-3 ">
												<div type="button" class="btn btn-default center-block" data-toggle="modal" data-target="#next" id="goNext">Submit </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						
					</div>
					
				</div>
			</div>
		</div>
    </article>               
</template>