<template name="login">
	<article>
        <section class="img-bg-login">
        	<div class="wrapper">
                <div class="row">
                    <div class="form-login" dir="{{getDirection}}">
                        <div class="text-center btn-re-log">
                            <ul class="list-inline">
                                <li><a href="/login"><button class="btn btn-log-white">{{_ "Login"}}</button></a></li>
                                <li>{{_ "Or"}}</li>
                                <li><a href="/register"><button class="btn btn-register">{{_ "Register"}}</button></a></li>
                            </ul>
                        </div>
                        <form class="form-horizontal mar-log" id="UserLogin">
                            <p id="loginError" style="color:red"></p>
                            <div class="control-group">
                                <label class="control-label" for="inputEmail">{{_ "Username"}}</label>
                                <div class="controls">
                                    <input type="text" id="email" placeholder="" required>
                                </div>
                              </div>
                            <div class="control-group">
                                <label class="control-label" for="password">{{_ "Password"}}</label>
                                <div class="controls">
                                    <input type="password" id="password" placeholder="" required>
                                </div>
                              </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn btn-red" id="btn_login">{{_ "Sign in"}}</button>
                                </div>
                                <div class="controls pull-right">
                                    <a href="/email"><label class="text_decoration">{{_ "Forgot your password ?"}}</label></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </article>
</template>