<template name="tutonew">
	<article>
	    <section class="shadow_bottom">
	    	<div class="wrapper">
	            <div class="row">
	             {{#each getTutoCategory }}
					<div class="col-xs-12">
						<div class="hold-tuto">
							<a href="/tutolisting/{{slug title}}" id="linkTotulisting"><h6 class="tuto-title">{{title}}</h6></a>
							<a href="/tutolisting/{{slug title}}" id="linkTotulisting">
							{{#with getCategoryImg _id}}
							<div class="hold-tuto-videos">
								<img src="{{getImg this}}" class="img-responsive" alt="{{title}}">
							</div>
							{{/with}}
							</a>
							<div class="text-center">
								<label class="pull-right">
									<a href="#" id="unlike">
										<img src="/img/heart-image.png"  id="unlike{{_id}}">
									</a>
									<a href="#" id="like">
										<img src="/img/full-heart.png" id="like{{_id}}" class="nonelike">
									</a>
									<span>132 personnent aiment</span>
								</label>
								<label class="">
									<img class="imgs" src="img/partager.png">
									<span>Partager</span>
								</label>
							</div>
							<div>
								<p>{{content}}</p>
							</div>
						</div> <!-- hold-tuto -->
					</div> <!-- col-xs-12 -->
				{{/each}}
				</div> <!-- row -->
	        </div>
	    </section>
    </article>
</template>