<template name="tutodetails">
	<article>
        <section>
        	<div class="wrapper">
                <div class="row">
                {{#with getTutodetails _id}}
					<div class="col-xs-12">
						<div class="hold-tuto">
							<h6 class="tuto-title">{{title}}</h6>
							<div class="hold-tuto-videos">
								<video width="490" height="370" id="mainVideo" controls>
									<source src="/videos/{{url}}" type="video/mp4">
								</video>
								<!-- <img src="img/DSC_0558-Edit.png" class="img-responsive"> -->
							</div>
							<div class="text-center">
								<label class="pull-right">
									<img src="img/heart-image.png">
									<span>132 personnent aiment</span>
								</label>
								<label>
									<img class="imgs" src="img/partager.png">
									<span>Partager</span>
								</label>
							</div>
							<div>
								<p>Synonymes de haute qualité, les créations Armani se reconnaissent par un style authentique et unique des plus élégants et un design reconnaissable et discret qui séduit les hommes et les femmes du monde entier.</p>
							</div>
						</div> <!-- hold-tuto -->
					</div> <!-- col-xs-12 -->
				{{/with}}
					<div class="col-xs-12">
						<div class="hold-tuto-send">
							<div class="col-xs-6">
								<div class="row">
									<div class="col-xs-7">
										<img src="img/big-face.png" class="img-responsive">
									</div>
									<div class="col-xs-5">
										<div class="control-name-detail">
											<p class="name-tuto-send">Sarah</p>
											<p class="date-tuto-send">07-20-2015</p>
											<p class="time-tuto-send">11:16</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="pull-right hold-filter-review">
									<a href="">
										<img src="img/filter-img.png" class="img-responsive">
									</a>
								</div>
							</div>
						</div> <!-- hold-tuto -->
					</div> <!-- col-xs-12 -->
					<div class="col-xs-12">
						<form role="form">
							<div class="form-group">
							  <textarea class="form-control" rows="5" id="comment" placeholder="Write what you want here..."></textarea>
							</div>
						</form>
						<a href="" class="pull-right">
							<span class="span-send">SEND</span>
						</a>
					</div> <!-- col-xs-12 -->
					<div class="clearfix"></div>
					<div class="col-xs-12">
						<div class="hold-tuto-send">
							<div class="col-xs-8">
								<div class="row">
									<div class="col-xs-7">
										<img src="img/big-face.png" class="img-responsive">
									</div>
									<div class="col-xs-5">
										<div class="control-name-detail">
											<p class="name-tuto-send">Sarah</p>
											<p class="date-tuto-send">07-20-2015</p>
											<p class="time-tuto-send">11:16</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-4">
								<div class="pull-right">
									<label class="black-heart-like">
										<img src="img/heart-black.png">
										<span class="number-of-like">19</span>
									</label>
								</div>
							</div>
						</div> <!-- hold-tuto -->
					</div> <!-- col-xs-12 -->
					<div class="col-xs-12">
						<p class="description-tuto-comment">Take me your advice blah blajdklazld ldjalk dlkazn zjd
							bazkj bdjbza daz ndakzndkajbdkjab djkzabd bazdbaznbdabd,abdaz
						</p>
						<hr class="tuto-hr-comment">
					</div> <!-- col-xs-12 -->
					<div class="clearfix"></div>
					<div class="col-xs-12">
						<div class="hold-tuto-send">
							<div class="col-xs-8">
								<div class="row">
									<div class="col-xs-7">
										<img src="img/big-face.png" class="img-responsive">
									</div>
									<div class="col-xs-5">
										<div class="control-name-detail">
											<p class="name-tuto-send">Sarah</p>
											<p class="date-tuto-send">07-20-2015</p>
											<p class="time-tuto-send">11:16</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-4">
								<div class="pull-right">
									<label class="black-heart-like">
										<img src="img/heart-black.png">
										<span class="number-of-like">19</span>
									</label>
								</div>
							</div>
						</div> <!-- hold-tuto -->
					</div> <!-- col-xs-12 -->
					<div class="col-xs-12">
						<p class="description-tuto-comment">Take me your advice blah blajdklazld ldjalk dlkazn zjd
							bazkj bdjbza daz ndakzndkajbdkjab djkzabd bazdbaznbdabd,abdaz
						</p>
						<hr class="tuto-hr-comment">
					</div> <!-- col-xs-12 -->
					<div class="clearfix"></div>
					<div class="col-xs-12">
						<div class="hold-tuto-send">
							<div class="col-xs-8">
								<div class="row">
									<div class="col-xs-7">
										<img src="img/big-face.png" class="img-responsive">
									</div>
									<div class="col-xs-5">
										<div class="control-name-detail">
											<p class="name-tuto-send">Sarah</p>
											<p class="date-tuto-send">07-20-2015</p>
											<p class="time-tuto-send">11:16</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-4">
								<div class="pull-right">
									<label class="black-heart-like">
										<img src="img/heart-black.png">
										<span class="number-of-like">19</span>
									</label>
								</div>
							</div>
						</div> <!-- hold-tuto -->
					</div> <!-- col-xs-12 -->
					<div class="col-xs-12">
						<p class="description-tuto-comment">Take me your advice blah blajdklazld ldjalk dlkazn zjd
							bazkj bdjbza daz ndakzndkajbdkjab djkzabd bazdbaznbdabd,abdaz
						</p>
						<hr class="tuto-hr-comment">
					</div> <!-- col-xs-12 -->
				</div> <!-- row -->
            </div>
        </section>
    </article>
</template>