<template name="editprofile">
    <article>
    	<div class="wrapper wrap-edit">
    		<div>
				{{#each getprofile}}
				    <img style="border:5px solid #000;width:150px;height:150px;" src="{{getImg image}}" class="img-circle center-block" alt="Avatar"/>
				{{/each}}
			</div>
			<!-- <div class="col-xs-12 col-sm-6 col-lg-9">
				<h1 style="font-weight:bold">{{#with getprofile}}{{profile.firstname}} {{profile.lastname}}{{/with}}</h1>
				<small>{{profile.name}}</small>
			</div> -->
            <div>
                <hr style="border:2px solid #000;">
            </div>

    			{{#each getprofile}}
				<table class="edit-profile">
				    <tr>
    					<td><label>Profile Image</label></td>
    					<td>
    						<div class="browse-wrap">
    							<div class="title">Browse file</div>
    							<input type="file" name="upload" class="upload" title="Choose a file to upload" id="upload">
							</div>
							<span class="upload-path"></span>
    					</td>
    				</tr>
    				<tr>
    					<td><label>First name</label></td>
    					<td><input type="text" class="input-profile" id="firstname" value="{{profile.firstname}}"/></td>
    				</tr>
    				<tr>
    					<td><label>Last name</label></td>
    					<td><input type="text" class="input-profile" id="lastname" value="{{profile.lastname}}"/></td>
    				</tr>
    				<tr>
    					<td><label>Date of birth</label></td>
    					<td><input type="text" class="input-profile" id="birth" value="{{profile.birth}}"/></td>
    				</tr>
    				<tr>
    					<td><label>Sex</label></td>
    					<td>
    						<select id="gender">
    							<option value="{{profile.sex}}">{{profile.sex}}</option>
								<option value="Male">Male</option>
								<option value="Female">Female</option>
    						</select>
    					</td>
    				</tr>
    				<tr>
    					<td><label>Address</label></td>
    					<td><textarea type="text" id="address">{{profile.address}}</textarea></td>
    				</tr>
				</table>
				{{/each}}
				<div class="col-xs-12">
	                <button type="button" class="profile-black pull-right" id="updateProfile">Edit</button>
	            </div>
    	</div>
    	<script type="text/javascript">

    		// Span
			var span = document.getElementsByClassName('upload-path');
			// Button
			var uploader = document.getElementsByName('upload');
			// On change
			for( item in uploader ) {
			  // Detect changes
			  uploader[item].onchange = function() {
			    // Echo filename in span
			    span[0].innerHTML = this.files[0].name;
			  }
			}
    	</script>
    </article>
</template>