<template name="profile">
	<article>
		<section class="shadow_bottom">
			<div class="wrapper">
				<div class="row">
					<div class="main_profile">
						<div class="col-xs-12">
							<div class="profile">
								<div class="col-xs-6 col-md-6 col-lg-4">
									{{#with getprofile}}
									<img src="img/img_reward2.png" class="img-pro center-block img-circle border_img"/>
									{{/with}}
								</div>
								<div class="col-xs-2 col-md-2 col-lg-2"><h2 class="name_pro">{{#with getprofile}}{{profile.firstname}} {{profile.lastname}}{{/with}}</h2><label class="label_username"></label></div>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="hr"></div>
						</div>
						{{#with getprofile}}
						{{profile.image}}
						<div class="col-xs-12 col-md-6 ">
							<form class="form-horizontal form_pro" role="form">
								<div class="form-group">
									<label class="col-xs-5 col-sm-4 label_pro">NAME</label>
									<div class="col-xs-7 col-sm-6">
										<span class="info">{{profile.firstname}} {{profile.lastname}}</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-5 col-sm-4 label_pro">EMAIL</label>
									{{#each emails}}
									<div class="col-xs-7 col-sm-6">
										<span class="info">{{address}}</span>
									</div>
									{{/each}}
								</div>
								<div class="form-group">
									<label class="col-xs-5 col-sm-4 label_pro">ADDRESS</label>
									<div class="col-xs-7 col-sm-6">
										<span class="info">{{profile.address}}</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-5 col-sm-4 label_pro">BIRTH DATE</label>
									<div class="col-xs-7 col-sm-6">
										<span class="info">{{profile.birth}}</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-5 col-sm-4 label_pro">SEX</label>
									<div class="col-xs-7 col-sm-6">
										<span class="info">{{profile.sex}}</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-5 col-sm-4 label_pro">LIFE STYLE</label>
									<div class="col-xs-7 col-sm-6">
										<span class="info">Nerd, hard worker , dreamer</span>
									</div>
								</div>
							</form>
						</div>
						{{/with}}
						<div class="col-xs-12">
							<a href="/editprofile"><button id="singlebutton" name="singlebutton" class="btn btn-primary pull-right">Edit
							</button></a>
						</div>
						<div class="col-xs-12">
							<div class="hr" style="margin-top:20px;"></div>
						</div>
						<div class="col-xs-12">
							<h5 class="h5_bold">COMPLÉTEZ LES QUESTION POUR ÊTRE MIEUX CONSEILLÉ</h5>
						</div>
						<!-- <div class="col-xs-12">
							<h4 class="title_select">Skin</h4>
						</div>
						<div class="col-xs-12">
							<div class="dropdown skin">
								<div class="skin_dropdown dropdown-toggle text-right" type="button" data-toggle="dropdown">Skin
								</div>
									<ul class="dropdown-menu">
										<li><a href="#">OILY</a></li>
										<li><a href="#">DRY</a></li>
									</ul>
							</div>
						</div>
						<div class="col-xs-12">
							<h4 class="title_select text-right">DO YOU HAVE A BEARD</h4>
						</div>
						<div class="col-xs-12">
							<div class="dropdown skin pull-right">
								<div class="skin_dropdown dropdown-toggle text-right" type="button" data-toggle="dropdown">YES
								</div>
									<ul class="dropdown-menu">
										<li><a href="#">YES</a></li>
										<li><a href="#">NO</a></li>
									</ul>
							</div>
						</div>
						<div class="col-xs-12">
							<h4 class="title_select">FAVORITE PERFUME</h4>
						</div>
						<div class="col-xs-12">
							<div class="dropdown skin">
								<div class="skin_dropdown_long dropdown-toggle text-right" type="button" data-toggle="dropdown">YVES SAINT LAURENT
								</div>
									<ul class="dropdown-menu long_dropdown">
										<li><a href="#">YVES</a></li>
										<li><a href="#">DRY</a></li>
									</ul>
							</div>
						</div>
						<div class="col-xs-12">
							<h4 class="title_select text-right">WHAT FEELING YOU WANT TO GIVE</h4>
						</div>
						<div class="col-xs-12">
							<div class="dropdown skin pull-right ">
								<div class="skin_dropdown_media dropdown-toggle text-right" type="button" data-toggle="dropdown">MYSTERIOUS
								</div>
									<ul class="dropdown-menu media_dropdown">
										<li><a href="#">YES</a></li>
										<li><a href="#">NO</a></li>
									</ul>
							</div><br/><br/><br/>
						</div>
						<div class="col-xs-12 main_profile">
							<div class="dropdown skin pull-right">
								<div class="skin_dropdown_media1 dropdown-toggle text-right" type="button" data-toggle="dropdown">JEALOUSY
								</div>
									<ul class="dropdown-menu media_dropdown1">
										<li><a href="#">YES</a></li>
										<li><a href="#">NO</a></li>
									</ul>
							</div>
						</div> -->
						<div class="row" dir="{{getDirection}}">
						      {{#each getquestions}}
						      <div class="col-xs-12 col-sm-4 col-lg-4">
						       <input type="hidden" name="question" value="{{_id}}">
						       <p style="font-size:12px;" class="text-right" >{{name}}</p>
						       <div class="form-group">
						        <input class="form-control" id="answer[]" name="answer" value="{{Answer _id}}" ></div>
						      </div>
						      {{/each}}
					    </div>
						<div class="col-8 pull-right">
							<button type="button" class="btn btn-primary" id="btn-answer" style="font-size:14px; margin-bottom: 10px;">{{_ "Answer"}}</button>
						</div>



					</div>
				</div>

			</div>
       </section>

    </article>
</template>
