
.text-selling-top{
	color: #858381;
	padding-left:20px;
	font-size: 20px;
	margin-top: 40px;
	font-weight: 400;
}
.text-selling-second{
    color: #01ace5;
	padding-left:20px;
	font-size: 20px;
	font-weight: bold;
}
.text-selling-detail{
   font-size: 17px;	
   font-weight: 400;
   color: #000;
}
.glyphicon-play{
	font-size:15px;
	color:#01ace5;
}
.price-selling{
   font-weight: bold;
   padding: 0px;               
   margin: 0px;
   color: #000;
   font-size: 25px;
}
.glyphicon-heart-empty{
	color: #000;
}
.price-selling a:hover span{
   color: #dd2a1b;
}
p + p {
    margin-top: 0em;
}


