.nonelike{
	display: none;
}
/**********  *************/
/** refine brand **/
a.alphabet, a.targetBrand, .info a{
	color: #fff;
	text-decoration: none;
}
div.refine-item{
	padding: 0px;
}
div.brand-item{
	padding-left: 0px;
}
/** listing product **/
.styleImg{
	height:130px;
	overflow: hidden;
}
.styleText{
	height: 45px;
	overflow: hidden;
}
/** Login & Register **/
.controls a{
	color: #000;
}
#password, #con_password{
	width: 228px;
	height: 42px;
	border: 1px solid;
	margin-bottom: 10px;
}
/** comfirmOrder **/
label.control-label{
    color: #000;
}
h1.page-header{
    text-transform: capitalize;
    font-size: 26px;
    color: #000;
}
button#btnAdd{
    background: transparent -moz-linear-gradient(center top , #F7DFA5, #F0C14B) repeat scroll 0% 0%;
    font-size: 16px;
    color: #000;
}
form.confirm{
    padding: 0 0;
}
button#btnshopcart{
    width: 277px; background: transparent -moz-linear-gradient(center top , #F7DFA5, #F0C14B) repeat scroll 0% 0%;
    font-size: 16px;
}
/**********  *************/

/* ============ LOGIN =============*/
 #pass-info {
    border-radius: 4px;
    color: #829cbd;
    font: 12px/25px Arial,Helvetica,sans-serif;
    height: 25px;
    text-align: center;
    width: 97.5%;
}
#pass-info.weakpass {
    background: #ffc7c7 none repeat scroll 0 0;
    border: 1px solid #ff9191;
    color: #94546e;
    text-shadow: 1px 1px 1px #fff;
}
#pass-info.stillweakpass {
    background: #fdd none repeat scroll 0 0;
    border: 1px solid #fbb;
    color: #945870;
    text-shadow: 1px 1px 1px #fff;
}
#pass-info.goodpass {
    background: #e4ffe4 none repeat scroll 0 0;
    border: 1px solid #c4eec8;
    color: #51926e;
    text-shadow: 1px 1px 1px #fff;
}
#pass-info.strongpass {
    background: #79f079 none repeat scroll 0 0;
    border: 1px solid #6ed66e;
    color: #348f34;
    text-shadow: 1px 1px 1px #fff;
}
#pass-info.vrystrongpass {
    background: #48b448 none repeat scroll 0 0;
    border: 1px solid #379137;
    color: #cdffcd;
    text-shadow: 1px 1px 1px #296429;
}
.hid_div{display: none}


/*forum somaly start style*/
.input{
    background-color: #ebebeb;
    border: 0px; 
    border-radius: 0px;
}
/*forum somaly end style*/

/*=== header style ===*/

.menu > li a {
    height: 48px;
    outline: 0px none;
    position: relative;
    text-decoration: none;
    display: block;
    width: 50%;
}
ul li.info {
    font-weight: bold;
    color: #000;
    width: 50%;
}
ul li a span.menu-li-title {
    font-size: 12px;
    margin-left: 0px;
    line-height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
}
