<<<<<<< HEAD
.img-bg-login{
	background: #FFF;
	display: block;
	background: url("../img/bg-login.png") no-repeat center center fixed;
	background-size: 100% auto;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.form-login{
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	box-shadow: 3px 3px 10px #ccc;
	margin: 40px 30px;
}
.btn-red{
    color: #FFF;
    background-color: #dd2a1b;
    border-color: #dd2a1b;
}
.btn{
    display: inline-block;
    padding: 6px 25px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    -moz-user-select: none;
}
button.btn-red{
    border: medium none;
    font-size: 20px !important;
}
button {
    border: medium none;
    font-size: 20px !important;
    padding: 6px 20px;
    margin-top: 20px;
    background-color: #000;
    color: #FFF;
    margin-bottom: 15px;
}
.button-log{
    border: medium none;
    font-size: 20px !important;
    padding: 6px 20px;
    margin-top: 15px;
    background-color: #fff;
    color: #000;
}
div.form-login span{
	font-size: 18px;
	font-weight: 700;
}
form.mar-log {
    width: 100%;
    overflow: hidden;
    padding: 25px 15px 100px;
}
label {
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
}
input[type="text"], textarea {
    background-color: transparent;
    border: 1px solid #000;
    margin: 0px 0px 10px;
    padding: 10px;
    width: 100%;
}
.joiner{
    font-weight: bold;
}
label.text_decoration{
    text-decoration: underline;
    -moz-text-decoration-color: red; /* Code for Firefox */
    text-decoration-color: red;
=======
.img-bg-login{
	background: #FFF;
	display: block;
	background: url("../img/bg-login.png") no-repeat center center fixed;
	background-size: 100% auto;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.form-login{
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	box-shadow: 3px 3px 10px #ccc;
	margin: 40px 30px;
}
.btn-red{
    color: #FFF;
    background-color: #dd2a1b;
    border-color: #dd2a1b;
}
.btn{
    display: inline-block;
    padding: 6px 25px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    -moz-user-select: none;
}
button.btn-red{
    border: medium none;
    font-size: 20px !important;
}
button {
    border: medium none;
    font-size: 20px !important;
    padding: 6px 20px;
    margin-top: 20px;
    background-color: #000;
    color: #FFF;
    margin-bottom: 15px;
}
.button-log{
    border: medium none;
    font-size: 20px !important;
    padding: 6px 20px;
    margin-top: 15px;
    background-color: #fff;
    color: #000;
}
div.form-login span{
	font-size: 18px;
	font-weight: 700;
}
form.mar-log {
    width: 100%;
    overflow: hidden;
    padding: 25px 15px 100px;
}
label {
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
}
input[type="text"], textarea {
    background-color: transparent;
    border: 1px solid #000;
    margin: 0px 0px 10px;
    padding: 10px;
    width: 100%;
}
.joiner{
    font-weight: bold;
}
label.text_decoration{
    text-decoration: underline;
    -moz-text-decoration-color: red; /* Code for Firefox */
    text-decoration-color: red;
>>>>>>> 34abc141a0ce503d699dd47c5a302f0485dec01f
}