.slider-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #000;
    background-image: linear-gradient(to bottom, #000, #000);
    background-repeat: repeat-x;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
    opacity: 1;
    border: 4px solid #FFF;
}
.slider.slider-horizontal {
    width: 210px;
    height: 50px;
}
.slider.slider-horizontal .slider-track {
    height: 5px;
    width: 100%;
    margin-top: -5px;
    top: 50%;
    left: 0px;
}
.slider.slider-horizontal .slider-handle {
    margin-left: -10px;
    margin-top: -8px;
}
.slider-selection {
    position: absolute;
    background-color: #FFF;
    background-image: linear-gradient(to bottom, #FFF, #FFF);
    background-repeat: repeat-x;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15) inset;
    box-sizing: border-box;
    border-radius: 4px;
}
.slider .tooltip-inner {
    white-space: nowrap;
}
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #000;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    border-radius: 4px;
}
.tooltip.top .tooltip-arrow {
    bottom: 0px;
    left: 50%;
    margin-left: -5px;
    border-top-color: #fff;
    border-width: 5px 5px 0px;
}

/* panel price range */

.panel_price_range{
	display: none;
    overflow: hidden;
}
.panel_price_range span{
    font-size: 12px;
}

/* panel brands */

.panel_brands {
    display: none;
    overflow: scroll;
    padding: 15px;
    background: #333333;
    height: 250px;
    /* KA */
    margin-right: 15px;
}

/* panel advanced */
.panel_advanced{
    display: none;
    overflow: hidden;
    padding: 0px 0px;      
    background: #333333;   
}
#sidebar-wrapper .widget .panel_advanced ul{
    padding: 0px 0px;
}
#sidebar-wrapper .widget .panel_advanced ul li{
    background: #333;   
    border-bottom: 0px solid #3C3D42;
}

#sidebar-wrapper .widget .panel_advanced ul li a{
    color: #CFD0D1;
    text-transform: none;
}

#sidebar-wrapper .widget .panel_advanced ul li a:before{
    background: none;       
}


/* panel skin type */
#sidebar-wrapper .widget .panel_advanced .panel_skin_type{
    display: none;
    overflow: hidden;
    padding: 0px 15px;      
    background: #ccc;
}

#sidebar-wrapper .widget .panel_advanced .panel_skin_type p{
    color: #333;
    padding: 5px 0px;
}