<<<<<<< HEAD
<<<<<<< HEAD
=======
.title_img{
	color:#000;
	font-weight:bold;
}
.bg_border{
	background:#616161;
	height:20px;
}
.text_profile{
	font-weight:bold;
}
.row_img{
	margin:20px 0px;
}
.main-bg-pro{
	background-color:#f5f5f5;
}
.img_menber{
	margin-bottom:0px;
}
.title_progressor{
	font-weight:bold;
	font-size: 12px;
	color: #000;
}
.progress{
	border-radius:0px;
}
.border_black1{
	border:4px solid #020303;
	margin-bottom:119px;
	margin-top:-40px;
}
.vertical {
  display: inline-block;
  width: 150%;
  height: 30px;
  margin-top:-35px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.progress-black{
	background-color:#000;
}
.img_profile1{
	background:#f5f5f5; 
	padding:19px 10px;
}
.img_profile2{
	background:#f5f5f5; 
	height:195px;
	padding:20px 10px;
	overflow:hidden;
}
.img_profile1 .border_img{
	border:5px solid #000;
}
.title_gold1{
	margin-top:50px;
	color:#000;
	font-weight:bold;
}
.border_gold{
	border:4px solid #020303;
	margin-bottom:119px;
	margin-top:-20px;
}
.img_profile3{
	background:#f5f5f5;
	margin:-30px 0px; 
	padding:10px 10px;
}
.img_profile4{
	background:#f5f5f5; 
	height:205px;
	padding:20px 10px;
}
.border_silver{
	border:4px solid #020303;
	margin-bottom:119px;
	margin-top:-47px;
}
.title_silver{
	color:#000;
	font-weight:bold;
}
.img_profile5{
	background:#f5f5f5;
	margin:-103px  0px; 
	padding:10px 10px;
}
.img_profile6{
	background:#f5f5f5; height:30px;padding:10px 10px;
}
.title_black{
	margin-top:-90px;
	color:#000;
	font-weight:bold;
}

.div-circle{
	width: 80px;
    height:80px;
    border: 5px solid #000;
    padding: 10px 10px;
    border-radius:50%;
    margin: auto;
}
.div-circle p{
	text-align:center; 
	vertical-align: center;
	font-size: 36px;
	font-weight: bold;
}

.progress-bar-gold{
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #FFA500;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}
.progress-bar-silver{
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #C0C0C0;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}
.hold-member-content{
	width: auto;
	height: 450px;
	background: #f5f5f5;
	overflow: hidden;
}









=======
>>>>>>> af04979148f54e5b1823a1e00e96ae330ffc097b
.title_img{
	color:#000;
	font-weight:bold;
}
.bg_border{
	background:#616161;
	height:20px;
}
.text_profile{
	font-weight:bold;
}
.row_img{
	margin:20px 0px;
}
.main-bg-pro{
	background-color:#f5f5f5;
}
.img_menber{
	margin-bottom:0px;
}
.title_progressor{
	font-weight:bold;
	font-size: 12px;
	color: #000;
}
.progress{
	border-radius:0px;
}
.border_black1{
	border:4px solid #020303;
	margin-bottom:119px;
	margin-top:-40px;
}
.vertical {
  display: inline-block;
  width: 150%;
  height: 30px;
  margin-top:-35px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.progress-black{
	background-color:#000;
}
.img_profile1{
	background:#f5f5f5; 
	padding:19px 10px;
}
.img_profile2{
	background:#f5f5f5; 
	height:195px;
	padding:20px 10px;
	overflow:hidden;
}
.img_profile1 .border_img{
	border:5px solid #000;
}
.title_gold1{
	margin-top:50px;
	color:#000;
	font-weight:bold;
}
.border_gold{
	border:4px solid #020303;
	margin-bottom:119px;
	margin-top:-20px;
}
.img_profile3{
	background:#f5f5f5;
	margin:-30px 0px; 
	padding:10px 10px;
}
.img_profile4{
	background:#f5f5f5; 
	height:205px;
	padding:20px 10px;
}
.border_silver{
	border:4px solid #020303;
	margin-bottom:119px;
	margin-top:-47px;
}
.title_silver{
	color:#000;
	font-weight:bold;
}
.img_profile5{
	background:#f5f5f5;
	margin:-103px  0px; 
	padding:10px 10px;
}
.img_profile6{
	background:#f5f5f5; height:30px;padding:10px 10px;
}
.title_black{
	margin-top:-90px;
	color:#000;
	font-weight:bold;
}

.div-circle{
	width: 80px;
    height:80px;
    border: 5px solid #000;
    padding-top: 29px;
    border-radius:50%;
    margin: auto;
}
.div-circle p{
	text-align:center; 
	vertical-align: center;
	font-size: 12px;
	font-weight: bold;
}

.progress-bar-gold{
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #FFA500;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}
.progress-bar-silver{
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #C0C0C0;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}
.hold-member-content{
	width: auto;
	height: 450px;
	background: #f5f5f5;
	overflow: hidden;
}









<<<<<<< HEAD
=======
.title_img{
	color:#000;
	font-weight:bold;
}
.bg_border{
	background:#616161;
	height:20px;
}
.text_profile{
	font-weight:bold;
}
.row_img{
	margin:20px 0px;
}
.main-bg-pro{
	background-color:#f5f5f5;
}
.img_menber{
	margin-bottom:0px;
}
.title_progressor{
	font-weight:bold;
	font-size: 12px;
	color: #000;
}
.progress{
	border-radius:0px;
}
.border_black1{
	border:4px solid #020303;
	margin-bottom:119px;
	margin-top:-40px;
}
.vertical {
  display: inline-block;
  width: 150%;
  height: 30px;
  margin-top:-35px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.progress-black{
	background-color:#000;
}
.img_profile1{
	background:#f5f5f5; 
	padding:19px 10px;
}
.img_profile2{
	background:#f5f5f5; 
	height:195px;
	padding:20px 10px;
	overflow:hidden;
}
.img_profile1 .border_img{
	border:5px solid #000;
}
.title_gold1{
	margin-top:50px;
	color:#000;
	font-weight:bold;
}
.border_gold{
	border:4px solid #020303;
	margin-bottom:119px;
	margin-top:-20px;
}
.img_profile3{
	background:#f5f5f5;
	margin:-30px 0px; 
	padding:10px 10px;
}
.img_profile4{
	background:#f5f5f5; 
	height:205px;
	padding:20px 10px;
}
.border_silver{
	border:4px solid #020303;
	margin-bottom:119px;
	margin-top:-47px;
}
.title_silver{
	color:#000;
	font-weight:bold;
}
.img_profile5{
	background:#f5f5f5;
	margin:-103px  0px; 
	padding:10px 10px;
}
.img_profile6{
	background:#f5f5f5; height:30px;padding:10px 10px;
}
.title_black{
	margin-top:-90px;
	color:#000;
	font-weight:bold;
}

.div-circle{
	width: 80px;
    height:80px;
    border: 5px solid #000;
    padding-top: 29px;
    border-radius:50%;
    margin: auto;
}
.div-circle p{
	text-align:center; 
	vertical-align: center;
	font-size: 12px;
	font-weight: bold;
}

.progress-bar-gold{
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #FFA500;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}
.progress-bar-silver{
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #C0C0C0;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}
.hold-member-content{
	width: auto;
	height: 450px;
	background: #f5f5f5;
	overflow: hidden;
}









=======
>>>>>>> af04979148f54e5b1823a1e00e96ae330ffc097b
>>>>>>> 0c9ef7d94db51aaffb97b9ff24e672a608901267
