.title_img{
	color:#000;
	font-weight:bold;
}
.bg_border{
	background:#616161;
	height:20px;
}
.text_profile{
	font-weight:bold;
}
.row_img{
	margin:20px 0px;
}
.main-bg-pro{
	background-color:#f5f5f5;
}
.img_menber{
	margin-bottom:0px;
}
.title_progressor{
	font-weight:bold;
	font-size: 12px;
	color: #000;
}
.progress{
	border-radius:0px;
}
.border_black1{
	border:4px solid #020303;
	margin-bottom:119px;
	margin-top:-40px;
}
.vertical {
  display: inline-block;
  width: 150%;
  height: 30px;
  margin-top:-35px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.progress-black{
	background-color:#000;
}
.img_profile1{
	background:#f5f5f5; 
	padding:40px 10px;
}
.img_profile2{
	background:#f5f5f5; 
	height:195px;
	padding:20px 10px;
	overflow:hidden;
}
.border_imges{
	border:5px solid #000;
}
.title_gold1{
	margin-top:50px;
	color:#000;
	font-weight:bold;
}
.border_gold{
	border:4px solid #020303;
	margin-bottom:119px;
	margin-top:-20px;
}
.img_profile3{
	background:#f5f5f5;
	margin:-30px 0px; 
	padding:10px 10px;
}
.img_profile4{
	background:#f5f5f5; 
	height:205px;
	padding:20px 10px;
}
.border_silver{
	border:4px solid #020303;
	margin-bottom:119px;
	margin-top:-47px;
}
.title_silver{
	color:#000;
	font-weight:bold;
}
.img_profile5{
	background:#f5f5f5;
	margin:-103px  0px; 
	padding:10px 10px;
}
.img_profile6{
	background:#f5f5f5; height:30px;padding:10px 10px;
}
.title_black{
	margin-top:-90px;
	color:#000;
	font-weight:bold;
}












