<<<<<<< HEAD
.main_profile{
	margin-bottom:70px;
}
.profile{
	padding:20px 0px;
}
.img-pro{
	/*border:5px solid #000;*/
}
.name_pro{
	padding-top:15px;
}
.label_username{
	color:#828282;
}
.hr{
	border:1px solid #000;
}
.form_pro{
	padding:20px 0px;
}
.label_pro{
	color:#4b4b4b;
	font-weight:normal;
}
.info{
	font-weight:bold;
	color:#000;
}
.btn_edit{
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 30px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
	color:#fff;
	background:#000;
	font-weight:bold;
}
.h5_bold{
	font-weight:bold;
	color:#000;
	font-size:16px;
}
.title_select{
	font-size:20px;
	color:#000;
}
.skin_dropdown{
	-moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
	padding-left:10px;
	padding-right:105px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:18px;
    vertical-align: middle;
    white-space: nowrap;
	color:#fff;
	background:#000;
	border-radius:10px;
}
.skin_dropdown::after {
    border-color: #fff transparent;
    border-style: solid;
    border-width: 6px 6px 0;
    content: "";
    height: 0;
    margin-top: 3px;
    position: absolute;
    left: 130px;
    top: 50%;
    width: 0;
}
.dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
     border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
	background:#000;
    z-index: 1000;
	margin-top:-9px;
}
.dropdown-menu > li > a {
    clear: both;
    color: #fff;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 3px 20px;
	font-size:17px;
    white-space: nowrap;
}
.input_answer{
	color:#fff;
	background-color:#000;
	border-radius:5px;
}
.input_margin{
	margin-bottom:20px;
}
.skin_dropdown_long{
	-moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
	padding-left:10px;
	padding-right:60px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:18px;
    vertical-align: middle;
    white-space: nowrap;
	color:#fff;
	background:#000;
	border-radius:10px;
}
.skin_dropdown_long::after {
    border-color: #fff transparent;
    border-style: solid;
    border-width: 6px 6px 0;
    content: "";
    height: 0;
    margin-top: 3px;
    position: absolute;
    left: 240px;
    top: 50%;
    width: 0;
}
.long_dropdown{
	background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
     border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 273px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
	background:#000;
    z-index: 1000;
	margin-top:-9px;
}
.skin_dropdown_media{
	-moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
	padding-left:10px;
	padding-right:80px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:18px;
    vertical-align: middle;
    white-space: nowrap;
	color:#fff;
	background:#000;
	border-radius:10px;
}
.skin_dropdown_media::after {
    border-color: #fff transparent;
    border-style: solid;
    border-width: 6px 6px 0;
    content: "";
    height: 0;
    margin-top: 3px;
    position: absolute;
    left: 190px;
    top: 50%;
    width: 0;
}
.media_dropdown{
	background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
     border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 219px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
	background:#000;
    z-index: 1000;
	margin-top:-9px;
}
.skin_dropdown_media1{
	-moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
	padding-left:10px;
	padding-right:108px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:18px;
    vertical-align: middle;
    white-space: nowrap;
	color:#fff;
	background:#000;
	border-radius:10px;
}
.skin_dropdown_media1::after {
    border-color: #fff transparent;
    border-style: solid;
    border-width: 6px 6px 0;
    content: "";
    height: 0;
    margin-top: 3px;
    position: absolute;
    left: 190px;
    top: 50%;
    width: 0;
}
.media_dropdown1{
	background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
     border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 221px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
	background:#000;
    z-index: 1000;
	margin-top:-9px;
}



















=======
.main_profile{
	margin-bottom:70px;
}
.profile{
	padding:20px 0px;
}
.img-pro{
	/*border:5px solid #000;*/
}
.name_pro{
	padding-top:15px;
}
.label_username{
	color:#828282;
}
.hr{
	border:1px solid #000;
}
.form_pro{
	padding:20px 0px;
}
.label_pro{
	color:#4b4b4b;
	font-weight:normal;
}
.info{
	font-weight:bold;
	color:#000;
}
.btn_edit{
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 30px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
	color:#fff;
	background:#000;
	font-weight:bold;
}
.h5_bold{
	font-weight:bold;
	color:#000;
	font-size:16px;
}
.title_select{
	font-size:20px;
	color:#000;
}
.skin_dropdown{
	-moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
	padding-left:10px;
	padding-right:105px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:18px;
    vertical-align: middle;
    white-space: nowrap;
	color:#fff;
	background:#000;
	border-radius:10px;
}
.skin_dropdown::after {
    border-color: #fff transparent;
    border-style: solid;
    border-width: 6px 6px 0;
    content: "";
    height: 0;
    margin-top: 3px;
    position: absolute;
    left: 130px;
    top: 50%;
    width: 0;
}
.dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
     border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
	background:#000;
    z-index: 1000;
	margin-top:-9px;
}
.dropdown-menu > li > a {
    clear: both;
    color: #fff;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 3px 20px;
	font-size:17px;
    white-space: nowrap;
}
.input_answer{
	color:#fff;
	background-color:#000;
	border-radius:5px;
}
.input_margin{
	margin-bottom:20px;
}
.skin_dropdown_long{
	-moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
	padding-left:10px;
	padding-right:60px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:18px;
    vertical-align: middle;
    white-space: nowrap;
	color:#fff;
	background:#000;
	border-radius:10px;
}
.skin_dropdown_long::after {
    border-color: #fff transparent;
    border-style: solid;
    border-width: 6px 6px 0;
    content: "";
    height: 0;
    margin-top: 3px;
    position: absolute;
    left: 240px;
    top: 50%;
    width: 0;
}
.long_dropdown{
	background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
     border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 273px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
	background:#000;
    z-index: 1000;
	margin-top:-9px;
}
.skin_dropdown_media{
	-moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
	padding-left:10px;
	padding-right:80px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:18px;
    vertical-align: middle;
    white-space: nowrap;
	color:#fff;
	background:#000;
	border-radius:10px;
}
.skin_dropdown_media::after {
    border-color: #fff transparent;
    border-style: solid;
    border-width: 6px 6px 0;
    content: "";
    height: 0;
    margin-top: 3px;
    position: absolute;
    left: 190px;
    top: 50%;
    width: 0;
}
.media_dropdown{
	background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
     border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 219px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
	background:#000;
    z-index: 1000;
	margin-top:-9px;
}
.skin_dropdown_media1{
	-moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
	padding-left:10px;
	padding-right:108px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:18px;
    vertical-align: middle;
    white-space: nowrap;
	color:#fff;
	background:#000;
	border-radius:10px;
}
.skin_dropdown_media1::after {
    border-color: #fff transparent;
    border-style: solid;
    border-width: 6px 6px 0;
    content: "";
    height: 0;
    margin-top: 3px;
    position: absolute;
    left: 190px;
    top: 50%;
    width: 0;
}
.media_dropdown1{
	background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
     border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 221px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
	background:#000;
    z-index: 1000;
	margin-top:-9px;
}



















>>>>>>> 34abc141a0ce503d699dd47c5a302f0485dec01f
