.btn-blue{
    color: #FFF;
    background-color: #29abe2;
    border-color: #29abe2;
}
input.short[type="text"], textarea {
    background-color: transparent;
    border: 1px solid #000;
    margin: 0px 0px 10px;
    padding: 10px;
    width: 80%;
}
.button-register{
    border: medium none;
    font-size: 20px !important;
    padding: 6px 20px;
    margin-top: 15px;
    background-color: #fff;
    color: #000;
}
form {
    width: 100%;
    overflow: hidden;
    padding: 25px;
}
.form-register{
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 3px 3px 10px #CCC;
    margin: 40px 35px;
}