.title_reward{
	font-weight:bold;
	color:#000;
}
.bg_title{
	background:#000;
}
.small_reward{
	color:#fff;
	padding: 15px 18px;
	font-weight:bold;
}
.row_img{
	margin:20px 0px;
}
.text_img{
	padding:8px 0px;
}
.border_img{
	/*border:5px solid #000;*/
}





















