.wrapper h3.h3{
	text-align:center;
	padding:15px 0px;
	font-weight:bold;
}
/*#trendy img{
	border:5px solid #333;
	/*width:60%;*/
}
/*#best_selling img{
	border:5px solid #333;*/
	/*width:60%;*/
}
/*#season img{
	border:5px solid #333;
	width:60%;
}*/