<template name="addPost">
    <div class="col-xs-12">
        <div class="row">
            <div class="hold_refine">
                <ul class="refine_menu list-inline">
                    <div class="col-xs-12">
                        <li class="active">
                            <a href="#" id="makeup">{{_"TOPIC"}}<i class="fa fa-caret-down"></i></a>
                        </li>
                    </div>
                  <p class="topiccate" style="margin-top:10px;color:red"></p>
                </ul>
                <div id="panel_makeup">
                    <ul class="make-up">
                    {{#each listCategories}}
                        <li><a href="#" id="category">{{title}}</a></li>
                    {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <article>
        <section class="shadow_bottom">
            <div class="wrapper">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 id="topicName">{{_"TOPIC NAME"}}</h4>
                        <div class="hold-click-each-comment">
                            <div class="row">
                                {{#with getprofile}}
                                <div class="col-xs-4">
                                    {{#if image}}
                                        <img src="{{getImg image}}" class="img-responsibve">
                                    {{else}}
                                        <img src="/img/menu1.png" class="img-responsibve">
                                    {{/if}}
                                </div>
                                {{/with}}
                                <div class="col-xs-8">
                                    <p class="p-usr-name">{{#with getprofile}}{{profile.firstname}} {{profile.lastname}}{{/with}}</p>
                                    <!-- <div class="timer">
                                        <ul class="list-inline">
                                            <li>07 20 2015</li>
                                            <li>11:16 PM</li>
                                        </ul>
                                    </div> -->
                                </div>
                            </div>
                            <hr class="hr-usr">
                            <div class="hold-object">
                                <input type="text" class="input" placeholder="{{_ "Write your topic"}}..." required id="topic" style="background-color: #ebebeb; border-color:#ebebeb; ">
                                <p class="topic" style="margin-top:10px;color:red"></p>
                                <textarea rows="20" cols="200" id="description" class="input" placeholder="{{_ "Write what you want"}}..." ></textarea>
                                <p class="description" style="margin-top:10px;color:red"></p>
                                <div class="clearfix"></div>
                                <div class="block-comment">
                                     <label>{{_"Choose Image"}}<a href=""><img src="/img/attach-file.png" name="image" id="images"></a>
                                    <input type="file" id="upload" style="display: none;" /></label>
                                    <p class="images" style="margin-top:10px;color:red"></p>
                                    <button class="pull-right success" id="addPost">{{_"ADD FORUM"}}</button>
                                    
                                </div>
                            </div>
                        </div><!-- hold-click-each-comment -->
                    </div> <!-- col-xs-12 -->
                </div> <!-- row -->
            </div>
        </section>
    </article>
</template>