<template name="forumDetail">
    <article>
        <section class="shadow_bottom">
            <div class="wrapper">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>{{_ "MAKEUP DISCUSSION"}}</h4>
                        <div class="reply-makeup">
                            <ul class="list-inline">
                                <li style="font-size: 12px;">MAKEUP / WEEKLY COLOR CHALLENGE</li>
                                <li class="li-reply">{{_ "REPLY"}}</li>
                            </ul>
                        </div>
                        <div class="hold-each-comment">
                            <div class="row">
                            <div class="col-xs-12">
                                <div class="col-xs-3">
                                    {{#with getProfile userId}}
                                        {{#if image}}
                                            <img src="{getImg image}}" class="">
                                        {{else}}
                                            <img src="/img/menu1.png" class="">
                                        {{/if}}
                                        <p class="text-center" style="font-size: 18px;">{{profile.firstname}}</p>
                                    {{/with}}
                                    <p class="text-center" style="font-size: 12px;">{{getDate date}} <br> {{getTime date}}</p>
                                </div>
                                <div class="col-xs-9">
                                    <p class="title-comment ti-des">{{topic}}</p>
                                    <p class="desc-comment com-des"></p>
                                    <p class="small-desc-comment">{{description}}</p>
                                </div>
                            </div>
                            </div>
                        </div> <!-- hold-each-comment-->
                        <div class="row reply hidden">
                            <div class="form-popup">
                                <div class="col-xs-12">
                                    <h4 class="text-center">{{_ "REPLY"}}</h4>
                                    <label>{{_ "Description"}}</label>
                                    <textarea id="description" class="form-control popup-textarea" rows="5"></textarea>
                                    <div class="col-xs-12">
                                        <a href="" class="btn-send pull-right">{{_ "SEND"}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- col-xs-12 -->
                </div> <!-- row -->
            </div>
        </section>
    </article>
</template>