<template name="listForum">
  <article>
        <section class="shadow_bottom" dir="{{getDirection}}">
          <div class="wrapper">
                <div class="row">
          <div class="col-xs-12">
            <h4>{{_"MAKEUP DISCUSSION"}}</h4>
              {{#each getallForum}}
                        <div class="sub-tabs">
                            <div class="row">
                                <ul class="list-inline">
                                    <li>
                                        <a href="">{{_"LIKES"}}</a>
                                    </li>
                                    <li>
                                        <a href="">{{_"NEWS"}}</a>
                                    </li>
                                    <li>
                                        <a href="">{{_"PEOPLE WITH SIMILAR PROFILE"}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div> <!-- sub-tabs -->
                        <div class="hold-each-comment">
                            <div class="row">
                            {{#with getprofile this.userId}}
                              {{#if image}}
                                <div class="col-xs-3">
                                    <img src="{getImg image}}" class="">
                                </div>
                              {{else}}
                                <div class="col-xs-3">
                                    <img src="/img/menu1.png" class="">
                                </div>
                              {{/if}}
                            {{/with}}
                                <div class="col-xs-9">
                                    <p class="title-comment"><a href="/forum/detail/{{_id}}">{{topic}}</a></p>
                                    <p class="desc-comment">{{description}}</p>
                                    <div class="hold-reply-row">
                                        <ul class="list-inline">
                                            <li><a href="/forum/detail/{{_id}}">22 reply</a></li>
                                            <li>{{>timeago date}}</li>
                                            <li><i class="fa fa-heart"></i> 19</li>
                                        </ul>
                                    </div> <!-- hold-reply-row-->
                                </div>
                            </div>
                        </div> <!-- hold-each-comment-->
                    {{/each}}
          </div> <!-- col-xs-12 -->
        </div> <!-- row -->
            </div>
        </section>
    </article>
</template>