<template name="myforum">
    <article>
      <section class="shadow_bottom">
            <div class="wrapper">
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                      <div class="widget-box row">
                          <div class="widget-title">
                              <h2><i class="glyphicon glyphicon-tasks"></i>{{_"Manage Forum"}}</h2>
                          </div>
                          <div class="widget-container table-responsive">
                            <table class="table table-hover table-striped order-table table-green">
                                <thead>
                                    <tr>
                                        <th>{{_"Topic"}}</th>
                                        <th>{{_"Description"}}</th>
                                        <th>{{_"Date"}}</th>
                                        <th>{{_"Action"}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each listallmyforums}}
                                    <tr>
                                        <td><a href="/forum/detail/{{_id}}">{{topic}}</a></td>
                                        <td><a href="/forum/detail/{{_id}}">{{description}}</a></td>
                                        <td><a href="/forum/detail/{{_id}}">{{date}}</a></td>
                                        <td><button id="delete">{{_"Delete"}}</button> | <a href="/forum/updateforum/{{_id}}"><button>{{_"Update"}}</button></a></td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>    
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
</template>
