<template name="headermenu">	
	<section id="menu-wrapper" dir="{{getDirection}}">
		<div id="menu-search">
			<span>
				<button class="btn kesearch left-menu">
					<i class="fa fa-search search-font"></i>
				</button>
			</span>
		   	<input class="input-search" id="textToSearch" type="text" placeholder="{{_"Search for..."}}" />
		</div>
		<ul id="menu-lateral" class="menu">
			<li>
                <a href="/">
                    <span class="menu-li-title left-menu">{{_"Market"}}</span>
                </a>
            </li>
            {{#if currentUser}}
				<li id="a-submenu-1" class="icon plus">
	                <a href="#">
	                    <span class="menu-li-title">{{_"Profile"}}</span>
	                </a>
	                <ul id="submenu-1" class="disnone" style="padding-right:40px;">
	                    <li>
	                        <a href="/profile">
	                            <span class="menu-li-title left-menu padd">{{_"My Profile"}}</span>
	                        </a>
	                    </li>
	                    <li>
	                        <a href="/member">
	                            <span class="menu-li-title left-menu padd">{{_"Member profile"}}</span>
	                        </a>
	                    </li>
	                    <li>
	                        <a href="/reward">
	                            <span class="menu-li-title left-menu padd">{{_"Rewards & points"}}</span>
	                        </a>
	                    </li>
	                    <li>
	                        <a href="/quizzs">
	                            <span class="menu-li-title left-menu padd">{{_"Quizzs"}}</span>
	                        </a>
	                    </li>
	                </ul>
	            </li>
	            <li>
					<a href="#">
						<span class="menu-li-title left-menu" id="logout">{{_"Logout"}}</span>
					</a>
				</li>
            {{else}}
				<li class="icon box login">
					<a href="/login">
						<span class="menu-li-title left-menu">{{_"Sing in / Register"}}</span>
					</a>
				</li>
			{{/if}}
		</ul> <!-- .menu -->
		<hr/>
		<ul>
			<li class="icon info">
				<a href="/favorite">
					<span class="menu-li-title left-menu">{{_"FAVORITE"}}</span>
				</a>
			</li>
			<li class="icon info">
				<a href="/webzinelisting">
					<span class="menu-li-title left-menu">{{_"WEBZINE"}}</span>
				</a>
			</li>
			<li class="icon info">
				<a href="/tuto">
					<span class="menu-li-title left-menu">{{_"TUTO"}}</span>
				</a>
			</li>

			<li class="icon info" id="left-forum">
				<a href="#">
					<span class="menu-li-title">{{_"FORUM"}}</span>
				</a>
				<ul id="child-left-forum">
					<li class="left-menu"><a href="/forum/listing">
						<span class="menu-li-title">{{_"LIST FORUM"}}</span>
					</a></li>
					<li class="left-menu"><a href="/forum/myforum">
						<span class="menu-li-title">{{_"MY FORUM"}}</span>
					</a></li>
					<li class="left-menu"><a href="/forum/addnew">
						<span class="menu-li-title">{{_"ADD FORUM"}}</span>
					</a></li>
				</ul>
			</li>
		</ul>
    </section> <!-- #menu-wrapper -->
	<section id="sidebar-wrapper" dir="{{getDirection}}">
		<div class="widget">
			<ul>
				<li class="item">
					<a href="#" id="price_range">{{_"Price Range"}}</a>
				</li>
				<!--panel price range -->
				<div class="panel_price_range">
					<div class="pull-right">
						<div class="checkbox">
						  	<label><input type="checkbox" value="" data-max="100" data-min="0" name="checkbox" class="right-menu"> 0 to 700K</label>
						</div>
						<div class="checkbox">
						  	<label><input type="checkbox" value="1000" class="right-menu" data-max="1000" data-min="100" name="checkbox">700K to 1M</label>
						</div>
						<div class="checkbox">
						  	<label><input type="checkbox" value="2000" class="right-menu" data-max="10000" data-min="1000" name="checkbox"> 1M to 2M</label>
						</div>
						<div class="checkbox">
						  	<label><input type="checkbox" value="3000" class="right-menu" data-max="100000" data-min="10000" name="checkbox"> 2M to 3M</label>
						</div>
						<div class="checkbox">
						  	<label><input type="checkbox" value="4000" class="right-menu" data-max="1000000" data-min="100000" name="checkbox"> 3M to 4M</label>
						</div>
						<div class="checkbox">
						  	<label><input type="checkbox" value="100000000" class="right-menu" data-max="10000000" name="checkbox">{{_"All"}}</label>
						</div>
					</div>
				</div>
				<li class="item"><a href="#" id="brands">{{_"Brands"}}</a></li>
				<!-- panel brands -->
				<div class="panel_brands col-xs-12">
					<div class="col-xs-2 refine-item tohide">
						<a href="" class="alphabet"><h1>A</h1></a>
						<a href="" class="alphabet"><h1>B</h1></a>
						<a href="" class="alphabet"><h1>C</h1></a>
						<a href="" class="alphabet"><h1>D</h1></a>
						<a href="" class="alphabet"><h1>F</h1></a>
						<a href="" class="alphabet"><h1>G</h1></a>
						<a href="" class="alphabet"><h1>H</h1></a>
						<a href="" class="alphabet"><h1>I</h1></a>
						<a href="" class="alphabet"><h1>J</h1></a>
						<a href="" class="alphabet"><h1>K</h1></a>
						<a href="" class="alphabet"><h1>L</h1></a>
						<a href="" class="alphabet"><h1>M</h1></a>
						<a href="" class="alphabet"><h1>N</h1></a>
						<a href="" class="alphabet"><h1>O</h1></a>
						<a href="" class="alphabet"><h1>P</h1></a>
						<a href="" class="alphabet"><h1>Q</h1></a>
						<a href="" class="alphabet"><h1>R</h1></a>
						<a href="" class="alphabet"><h1>S</h1></a>
						<a href="" class="alphabet"><h1>T</h1></a>
						<a href="" class="alphabet"><h1>U</h1></a>
						<a href="" class="alphabet"><h1>V</h1></a>
						<a href="" class="alphabet"><h1>W</h1></a>
						<a href="" class="alphabet"><h1>X</h1></a>
						<a href="" class="alphabet"><h1>Y</h1></a>
						<a href="" class="alphabet"><h1>Z</h1></a>
					</div>
					<div class="col-xs-10 brand-item">
						<div class="hold_item_brands">
							<div class="nav nav-pills sticker" id="allBrands">
								
							</div>
						</div>
					</div>
				</div>
			</ul>
		</div>
   	</section> <!-- #sidebar-wrapper -->
	<script type="text/javascript">
  //   	$(function(){
		//     $('#sl2').slider();     
		// });
    </script>
   <!--  <script>
    $(window).load(function(){
      $(".sticker").sticky({ topSpacing: 0, center:true, className:"hey" });
    });
  </script> -->
</template>
