<template name="home">
    <section id="refine_menu">
        {{> menu}}
    </section> <!-- #refine menu -->
   <div class="swiper-container">
    <div class="swiper-wrapper">
        {{#each getbanner}}
            <div class="swiper-slide" data-hash="slide1">
                <a href="{{url}}"><img src="{{getImg imageId}}"></a>
            </div>
        {{/each}}
            
        </div>
      <!--<div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
    </div> <!-- #slider -->

    <article>
      <div class="wrapper" >
          <h3 class="home_products text-center">{{_ "TRENDY PRODUCTS"}}</h3>
          <div class="row">
            <!-- product slide -->
            <div class="swiper-container-product">
                <div class="swiper-wrapper">
                     {{#with list1}}
                        {{#each products}}
                            {{#with getProduct this}}
                                <div class="swiper-slide">
                                    <div class="thumbnail">
                                    <a href="{{pathFor 'details' id=(slug title)}}"><img data-holder-rendered="true" src="{{getImgForProduct _id}}" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /></a> 
                                    <div class="caption"> 
                                        <p class="text-center">{{title}}</p> 
                                        <h3 class="text-center price">{{price}}</h3>
                                    </div>
                                    </div>
                                </div>
                            {{/with}}
                        {{/each}}
                    {{/with}}
                </div>
            </div>
        </div>
        <h3 class="text-center">{{_ "BEST SELLING PRODUCT"}}</h3>
        <div class="row">
            <div class="swiper-container-product">
                <div class="swiper-wrapper">
                    {{#with list2}} 
                        {{#each products}}
                           {{#with getProduct this}}
                                <div class="swiper-slide">
                                    <div class="thumbnail">
                                        <a href="{{pathFor 'details' id=(slug title)}}"><img data-holder-rendered="true" src="{{getImgForProduct _id}}" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> </a>
                                        <div class="caption"> 
                                            <p class="text-center">{{title}}</p> 
                                            <h3 class="text-center price">{{price}}</h3>
                                        </div>
                                    </div>
                                </div>
                            {{/with}}
                        {{/each}}
                    {{/with}}
                </div>
            </div>
        </div>
        <h3 class="home_products text-center">{{_ "SEASON"}}</h3>
        <div class="row">
            <div class="swiper-container-product">
                <div class="swiper-wrapper">
                    {{#with list3}}
                        {{#each products}}
                            {{#with getProduct this}}
                                <div class="swiper-slide">
                                    <div class="thumbnail">
                                        <a href="details/{{slug title}}"><img data-holder-rendered="true" src="{{getImgForProduct _id}}" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> </a>
                                        <div class="caption">
                                            <p class="text-center">{{title}}</p> 
                                            <h3 class="text-center price">{{price}}</h3>
                                        </div>
                                    </div>
                                </div>
                            {{/with}}
                        {{/each}}
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
</article>
</template>