<template name="menu">
	<div class="col-xs-12">
		<div class="hold_refine">
			<ul class="refine_menu list-inline">
				<li class="active">
					<!-- <a href="{{pathFor 'listing' id=(slug title)}}">
						<label id="makeup"></label> 
						<i class="fa fa-caret-down"></i>{{title}}
					</a> -->
					<a href="#">
						<label id="makeup"></label> 
						<i class="fa fa-caret-down"></i>{{title}}
					</a>
				</li>
				{{#if navnodisplay}}
				<li>
					<a href="{{pathFor 'listing' id=(slug title)}}"><label id="all_makeup">{{_"ALL"}} {{getTitlechild1}}</label> <i class="fa fa-caret-down"></i></a>
				</li>
				
				<li>
					<a  id="caret-sreydent" href="{{pathFor 'listing' id=(slug title)}}"><label id="secondChild">{{gettitlechild2}}</label><i id="hide_fa"  class=""></i></a>
				</li>
			
				{{/if}}
			</ul>
			<div id="panel_makeup">
				<ul class="make-up">
					{{#each getParent}}
					<li id="child_makeup" class="firstchild{{_id}}" data-value="{{title}}"><a href="{{pathFor 'listing' id=(slug title)}}">{{title}}</a>
					</li>
					{{/each}}
				</ul>
			</div>
			<div id="panel_all_makeup" style="display: none;">
				<div class="row">
					<div class="u-vmenu">
						<ul>
							<li><a href="{{pathFor 'listing' id=(slug title)}}" id="allCategory"> </a></li>
							{{#with getParent}}
							{{#each getChildren _id}}
							<li id="child_child" class="secondchild{{_id}}" data-value="{{title}}">
								<a href="{{pathFor 'listing' id=(slug title)}}" id="childChild">{{title}}</a>
							</li>
							{{/each}}
							{{/with}}
						</ul>
						
					</div>
				</div>
			</div>
			<div id="second_makeup" style="display: none;">
				<div class="row">
					<div class="u-vmenu">
						<ul>
							<li><a href="{{pathFor 'listing' id=(slug title)}}" id="allCategory"> </a></li>
							{{#with getParent getChildren _id}}
							{{#each getFirstChild _id}}
							<li id="second_child">
								<a href="{{pathFor 'listing' id=(slug title)}}">{{title}}</a>
							</li>
							{{/each}}
							{{/with}}
						</ul>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">

	</script>
</template>