<template name="webzinelisting">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {{#each getbanner}}
            <div class="swiper-slide" data-hash="slide1"><img src="{{getImg imageId}}"></div>
            {{/each}}
        </div>
    </div>
    
    <!-- start container -->
	<article> 
            {{#each webzinelists}}
        	<div class="wrapper" style="padding-top: 5px;" dir="{{getDirection}}">
                <div class="space-img">
                    <a href="/webzinedetails/{{slug title}}"> 
                    {{#with getFirstImgContent _id}}
                    <img src="{{getImg imageId}}" class="img-responsive">
                    {{/with}}
                    </a>
                </div>
                <div class="title-webzin-mobile">
                    <a href="/webzinedetails/{{slug title}}"><h2>{{title}}</h2></a>
                </div>
                <div class="text-webzin-mobile">
                    <p>{{{smaller content 20}}}</p>
                </div>
                <div class="col-xs-12">
                    <div class="text-right">
                        <p class="cate-webzine">{{getCatergoryName category}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
    </article> <!-- end container -->
</template>