<template name="webzinedetails">
	<article>
    	<div class="wrapper" style="margin-top: 50px;" dir="{{getDirection}}">
          <div class="title-webzin-mobile">
              <h2>{{title}}</h2>
          </div>
          {{#with getFirstImgContent _id}}
          <div class="space-img">
              <img src="img/man-img.png" class="img-responsive">
          </div>
          {{/with}}
          <div class="col-xs-12">
              <div class="text-right">
                <p class="cate-webzine-detail">Lipsticks</p>
              </div>
          </div>
          <div class="text-webzin-mobile-detail">
                <p>{{{content}}}</p>
          </div>
      </div>
    </article>
</template>