<template name="checkout">
	<section class="checkout" dir="{{getDirection}}">
    	<div class="wrapper-checkout wrapper-notfound">
            <div class="row">
				<div class="col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<p class="p-title">
								{{_"Add $26.01 for FREE Shipping."}} <a href="">{{_"See details"}}</a>
							</p>
						</div>
						<div class="panel-body">
							<h4 class="title-product">{{_ "Total"}}:<a class="price" href="#">{{getTotal}} ﷼</a></h4>
							<div class="checkbox">
							  <label><input type="checkbox" value="">{{_ "This order contains"}} {{getCart.count}} {{_ "items"}}</label>
							</div>
							<button type="button" class="btn-checkoutred btn_checkout btn-block" id="btnAdd">{{_ "Proceed to checkout"}}</button>
						</div>
						<div class="panel-footer">
							<a href="">
								<span>{{_"2 type of transportation available"}}</span>
							</a>
						</div>
					</div>
				</div> <!-- col-xs-12 -->
			</div> <!-- row -->
        </div>
        {{#each getCart}}
			<div class="checkout-detail">
				{{#with getProductInfo id_product}}
					<div class="col-xs-4"> 
						<img src="{{getFirstImgProduct _id}}" class="img-circle">
					</div>
				{{/with}}

				{{#with getProductInfo id_product}}
					<div class="col-xs-8">
						<h4 class="title-product">{{title}}</h4>
						<h4 class="price-product">{{../subtotal}}</h4>
						<p class="date">{{_"In stock on"}} {{getDate date}} {{getTime date}}</p>
						<p class="free">{{_"Free Shipping"}}</p>
					</div>
				{{/with}}

				<div class="col-xs-12">
				<div class="bs-example">
					<div class="" role="group" aria-label="...">
					  <div class="btn-group" role="group">
					    <button type="button" class="btn dropdown-toggle btn-checkout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  	{{quantity}} <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu" id="quantity">
					      <li><a href="#" class="qty">1</a></li>
					      <li><a href="#" class="qty">2</a></li>
					      <li><a href="#" class="qty">3</a></li>
					      <li><a href="#" class="qty">4</a></li>
					      <li><a href="#" class="qty">5</a></li>  
					    </ul>
					  </div>
					  <button type="button" class="btn btn-checkout" id="removecheckout">{{_"Delete"}}</button>
					</div>
				</div>
			</div>
				<div class="clearfix"></div>
				<div class="col-xs-12">
					<!-- <p class="text-center color-gray">{{_"Get $50 gift card upon approval for the"}}</p> -->
					<!-- <p class="text-center color-gray">{{_"Amazon.com Reward Visa Card"}}</p> -->
				</div>
				<div class="clearfix"></div>
			</div>
		{{/each}}
		
    </section>
</template>