<template name= "confirmorder">
	<style>
		.modal-backdrop .in{
			display: none;
		}
	</style>
	<div id="wrapper">
		<div class="container-fluid">
			<!-- Page Heading -->
            <div class="row">
                <div class="col-xs-12">
					<h1 class="page-header"><b>{{_ "Select a shipping address"}}</b></h1>
					<div class="col-xs-12">
                        {{#with getprofile}}
                            <b>{{username}}</b>
                            <h5>floor 3</h5>
                            {{#each emails}}
	                            <h5>Email: {{address}}</h5>
                            {{/each}}
                            <h5 id="oldAddress">{{getAddress1}}</h5>
                        {{/with}}
                    </div>
                    <div class="col-xs-12">
                    	<button type="button" id="btnshopcart" class="btn btn-warning">
                    		<h5>{{_ "Shop to this address"}}</h5>
                    	</button>
                    </div>
                    <div class="col-xs-12"> 
						<!-- soon -->
						<div class="container">
							<div class="row">
							 	<form class="confirm">
					    			<h1 class="page-header"><b>{{_ "Add a new address"}}</b></h1>
					    	    	<p class="help-block">{{_ "Be sure to click the button"}}</p>
					                <!-- full-name input-->
					                <div class="control-group">
					                    <label class="control-label">{{_ "Address"}} :</label>
					                    <div class="controls">
					                        <textarea id="newAddress"></textarea>
					                        <p class="help-block"></p>
					                    </div>
					                </div>
					                 <div class="col-xs-12">
			                        	<button class="btn btn-warning" type="button" id="btnAdd"><h5>{{_ "Ship to this address"}}</h5></button>
			                        </div>
					        	</form>
							</div>
						</div>
					</div><br>
				</div>
            </div>
        </div>
    <!-- /.row -->
    </div>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".modal-backdrop").hide();
		    $('#address1').change(function() {
		        if($(this).is(":checked")) {
		            $('#address').hide();   
		        }else{
		        	$('#address').show();
		        }         
		    });
		    $( "#address" ).keyup(function() {
			  var str=$('#address1').val();
			  if(str!=''){
			  	$('#address1').hide();
			  }
			});
			$( "#address" ).mouseout(function() {
			  	$('#address1').show();
			});
		});
	</script>
</template>