
<template name="listproducts"> 
	           <article>
                    <h1>Wrlcome To SafairMobile</h1>
                    <div class="wrapper">
                        <p class="text-selling-top">{{nbproducts}}/{{totalProducts}} {{_ "products result"}} products result</p>
                        <p class="text-selling-second">Best selling <a href=""><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a></p>
                        {{#each products}}
                        <div class="row">
                           
                            <div class="col-xs-6">
                                <div class="thumbnail">
                                    <img data-holder-rendered="true" src="img/photo.jpg" data-src="holder.js/100%x200" alt="100%x200" class="img-circle" width="50" /> 
                                    <div class="caption"> 
                                        <p class="text-center text-selling-detail">ESTÉE LAUDER Pur Color Vernis à ongles</p> 
                                        <h3 class="text-center price-selling price">{{price}}€ <a href="/details/{{slug title}}"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></a></h3>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                          {{/each}}
                    </div>
                </article>

</template>
